@using LeaguePlaza.Core.Features.Quest.Models.ViewModels

@model UserQuestsViewModel

<h1>My Quests</h1>

<div>
    @foreach (var quest in Model.UserQuests)
    {
        <ul>
            <li>@quest.Id</li>
            <li>@quest.Title</li>
            <li>@quest.Description</li>
            <li>@quest.Created</li>
            <li>@quest.RewardAmount</li>
            <li>@quest.Type</li>
            <li>@quest.Status</li>
            <li>@quest.CreatorId</li>
            <li><a asp-controller="Quest" asp-action="ViewQuest">View Quest</a></li>
        </ul>
    }
</div>