@using LeaguePlaza.Common.Constants
@using LeaguePlaza.Core.Features.Quest.Models.ViewModels

@model ViewQuestViewModel

<div id="quest-info">
    <ul>
        <li>@Model.Quest.Id</li>
        <li>@Model.Quest.Title</li>
        <li>@Model.Quest.Description</li>
        <li>@Model.Quest.Created</li>
        <li>@Model.Quest.RewardAmount</li>
        <li>@Model.Quest.Type</li>
        <li>@Model.Quest.Status</li>
        <li>@Model.Quest.CreatorId</li>
        <li>@Model.Quest.AdventurerId</li>
    </ul>

    @if (Model.UserRoles.Contains(UserRoleConstants.Adventurer))
    {
        <div id="button-holder">
            @if (Model.Quest.AdventurerId == null)
            {
                <button id="accept-btn" type="button" data-quest-id="@Model.Quest.Id">Accept</button>
            }
            @if (Model.Quest.AdventurerId == Model.CurrentUserId)
            {
                <button id="abandon-btn" type="button" data-quest-id="@Model.Quest.Id">Abandon</button>
            }
        </div>
    }
</div>


@foreach (var quest in Model.RecommendedQuests)
{
    <ul>
        <li>@quest.Id</li>
        <li>@quest.Title</li>
        <li>@quest.Description</li>
        <li>@quest.Created</li>
        <li>@quest.RewardAmount</li>
        <li>@quest.Type</li>
        <li>@quest.Status</li>
        <li>@quest.CreatorId</li>
        <li>@quest.AdventurerId</li>
        <li><a asp-controller="Quest" asp-action="ViewQuest" asp-route-id="@quest.Id">View Quest</a></li>
    </ul>
}

@section Scripts
{
    <script src="~/js/quest/view-quest.js"></script>
}