@using LeaguePlaza.Core.Features.Quest.Models.ViewModels

@model ViewQuestViewModel

<div>
    <ul>
        <li>@Model.Quest.Id</li>
        <li>@Model.Quest.Title</li>
        <li>@Model.Quest.Description</li>
        <li>@Model.Quest.Created</li>
        <li>@Model.Quest.RewardAmount</li>
        <li>@Model.Quest.Type</li>
        <li>@Model.Quest.Status</li>
        <li>@Model.Quest.CreatorId</li>
        <li>@Model.Quest.AdventurerId</li>
    </ul>
</div>
<button id="accept-btn-js" type="button" data-quest-id="@Model.Quest.Id">Accept</button>

@section Scripts
{
    <script src="~/js/quest/view-quest.js"></script>
}