@using LeaguePlaza.Core.Features.Order.Models.ViewModels

@model CartViewModel

<h1>Confirm order</h1>
<div>
    <div class="submit-order-information">
        <div>
            <span>Country</span>
            <span id="order-information-country">@Model.OrderInformation?.Country</span>
        </div>
        <div>
            <span>City</span>
            <span id="order-information-city">@Model.OrderInformation?.City</span>
        </div>
        <div>
            <span>Street</span>
            <span id="order-information-street">@Model.OrderInformation?.Street</span>
        </div>
        <div>
            <span>Postal Code</span>
            <span id="order-information-postal-code">@Model.OrderInformation?.PostalCode</span>
        </div>
        <div>
            <span>Additional Information</span>
            <span id="order-information-additional-information">@Model.OrderInformation?.AdditionalInformation</span>
        </div>
    </div>
    <div class="cart-items-information">
        <div>
            @foreach (var item in Model.CartItems)
            {
                <div class="cart-item">
                    <div class="cart-item-image">
                        <img src="@item.ProductImageUrl" alt="cart item image" loading="lazy" />
                    </div>
                    <div class="cart-item-name">
                        <a asp-controller="Product" asp-action="ViewProduct" asp-route-id="@item.ProductId">@item.ProductName</a>
                    </div>
                    <div>@item.Quantity</div>
                    <div>x</div>
                    <div>@item.Price</div>
                    <div>=</div>
                    <div>@(item.Quantity* item.Price)</div>
                </div>
            }
        </div>
        <div class="cart-total-price">
            <span>Total:</span>
            <span>@Model.CartItems.Sum(ci => ci.Quantity * ci.Price)</span>
        </div>
        <div class="submit-order-buttons">
            <button id="submit-order-back" type="button">Back</button>
            <button id="submit-order-confirm" type="button">Confirm</button>
        </div>
    </div>
</div>